/* Font Families */

@font-face {
    font-family: 'Roboto';
    src: url('fonts/roboto/roboto-regular-webfont.woff2') format('woff2'),
        url('fonts/roboto/roboto-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lemon';
    src: url('fonts/lemon/lemon-regular-webfont.woff2') format('woff2'),
        url('fonts/lemon/lemon-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input,
button,
textarea {
    font: inherit;
}

/* VARIABLES */

:root {

    /* BORDERS */
    --BORDER_RADIUS--SMALL: 1em;

    /* FONTS */
    --FF: 'Roboto', sans-serif;
    --FF_HEADINGS: 'Lemon', 'sans-serif';
    --FS_SMALL: 1em;
    --FS_MEDIUM: 1.5em;

    /* PADDINGS */
    --SPACING_SMALL: 1em;
    --SPACING-MEDIUM: 1.5em;
    --SPACING_MEDIUM: 2em;
    --SPACING_LARGE: 3em;

}

/* UTILITY CLASSES */

.offscreen {
    position: absolute;
    left: -10000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}


/* GENERAL STYLES */

html {
    max-width: 100vw;
    min-height: 100vh;
    scroll-behavior: smooth;
    background: url('images/bg.jpg') center / cover no-repeat fixed;
}

body {
    width: 100%;
    height: 100%;
    min-width: 100px;
    font-family: var(--FF);
    font-size: var(--FS_SMALL);
    margin: auto;
    box-shadow: -.5em 0 .5em #222, .5em 0 .5em #222;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--FF_HEADINGS);
}

a,
i {
    text-decoration: none;
    cursor: pointer;
    font-style: italic;
    transition: all .5s;
}

a:is(:hover, :focus) {
    color: red;
}


img {
    image-rendering: auto;
}


/* ======================== Main Page =========================== */


/* === General === */
i {
    color: black;
}


a,
a i {
    color: purple;
}

a:active {
    filter: brightness(1.3);
}

/*======= Header ===========*/

header {
    width: 100%;
    height: 20vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0 var(--SPACING_MEDIUM);
    background: linear-gradient(to bottom, skyblue, rgb(23, 173, 173));
    margin: auto;
    display: flex;
    box-shadow: 0 .25em .5em #222;
}

#header_text {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: .8em;
}

header p {
    font-size: .6em;
    font-style: italic;
    font-family: cursive;
}

#tabs {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: var(--SPACING_SMALL);
    font-size: .7em;
}


/* ========== Main section ============= */
main {
    padding-top: 20vh;
    width: 100%;
    min-height: 80vh;
    background: linear-gradient(papayawhip, peachpuff);
}

main section {
    padding-bottom: 5vh;
}



main h1 {
    font-size: var(--FS_SMALL);
    line-height: var(--SPACING_MEDIUM);
    display: inline-block;
    margin-top: var(--SPACING_MEDIUM);
}

@keyframes wave {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(-12deg);
    }

    75% {
        transform: rotate(24deg);
    }

    100% {
        transform: rotate(0);
    }
}

#wave {
    display: inline-block;
    animation: wave .5s linear infinite;
    will-change: transform;
}


aside {
    top: 20vh;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--SPACING_MEDIUM) auto;
}


/* ======== Portrait ============ */
aside a {
    height: 100%;
}

aside img {
    height: 100%;
    width: auto;
    border: .25em solid #222;
}


/* ======= Info =========== */

.section_content {
    width: 100%;
    padding: 0 var(--SPACING_MEDIUM) 10vh;
}



main h2 {
    margin: var(--SPACING_MEDIUM) 0 var(--SPACING_SMALL);
    text-align: center;
}


main li {
    font-size: .7em;
    line-height: var(--SPACING_MEDIUM);
}

main p {
    line-height: var(--SPACING_MEDIUM);
    margin: var(--SPACING_SMALL);
}

ul#education li {
    display: flex;
    align-items: center;
    height: 20vh;
    column-gap: var(--SPACING_SMALL);
    margin-bottom: var(--SPACING_LARGE);
    flex-wrap: wrap;
}

main li a {
    display: flex;
    align-items: center;
    column-gap: var(--SPACING_SMALL);
}


main li a img {
    border-radius: 50%;
    width: 4em;
    height: 4em;
}


/* ============ Projects ============= */

#project__content {
    display: flex;
    flex-direction: column;
    row-gap: var(--SPACING_LARGE);
    align-items: center;
}

.project_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: var(--SPACING_SMALL);
    align-items: center;
    width: 100%;
    max-width: 260px;
    height: clamp(20em, 40vh, 22em);
    border-radius: var(--BORDER_RADIUS--SMALL);
    background-color: rgb(0, 153, 204);
    box-shadow: .25em .25em .125em #222;
    position: relative;
    transition: all .5s;
}

.project_box img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 30%;
    border-top-left-radius: var(--BORDER_RADIUS--SMALL);
    border-top-right-radius: var(--BORDER_RADIUS--SMALL);
    background-color: white;
}

.project_box h3 {
    text-align: center;
    position: absolute;
    top: 35%;
    color: darkblue;
}

.project_box p {
    line-height: var(--SPACING_SMALL);
    color: white;
}

.project_box:is(:hover, :focus) {
    transform: scale(1.1);
}


/* ====== Tab control effect =========== */
#contact,
#about,
#faq {
    height: 20vh;
}



/* =========== Social media ======== */
#social_media--heading {
    clear: both;
}



#social_media {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 2em;
    justify-content: center;
    column-gap: var(--SPACING_LARGE);
    row-gap: var(--SPACING_MEDIUM);
    margin-bottom: 8em;
}

#social_media a {
    display: inline-block;
    height: 100%;
}

#social_media a img {
    height: 100%;
    width: auto;
}





/* ======== FAQs =========== */

input[id^="more"] {
    display: none;
}

p.question>label:nth-child(2) {
    display: none;
}

p.question {
    margin: var(--SPACING_MEDIUM) 0;
    font-style: italic;
}

p.question i {
    margin-left: .5em;
    color: purple;
}

p.answer {
    display: none;
    text-indent: var(--SPACING_MEDIUM);
}

[id^="more"]:checked+p>label:nth-child(2) {
    display: inline-block;
}

[id^="more"]:checked+p>label:nth-child(1) {
    display: none;
}

[id^="more"]:checked+p.question+p.answer {
    display: block;
}



/* ========== Back to Top ========== */
#top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 992px;
    position: fixed;
    bottom: 11vh;
    pointer-events: none;
}

#top a {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: plum;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
    opacity: .4;
}

#top a:is(:hover, :focus) {
    opacity: 1;
}

#top a:active {
    background-color: cyan;
}


/* ======== Footer ========== */

footer {
    width: 100%;
    height: 10vh;
    position: fixed;
    bottom: 0;
    z-index: 900;
    background: linear-gradient(to bottom, skyblue, rgb(23, 173, 173));
    margin: auto;
    padding: 0 var(--SPACING_MEDIUM);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -.25em .5em #222;
}

footer p {
    font-size: .6em;
}



/* ========== RESPONSIVE LAYOUT ========== */


@media only screen and (min-height: 550px) {

    header {
        height: 15vh;
    }

    header p {
        font-size: 1em;
    }

    main {
        padding-top: 15vh;
    }

    aside {
        height: 80vh;
    }

    #top {
        bottom: 6vh;
    }

    footer {
        height: 5vh;
    }

    footer p {
        font-size: .8em;
    }

}

@media only screen and (min-width: 576px) {

    @media only screen and (min-width: 576px) and (orientation: landscape) {


        aside {
            display: block;
            position: sticky;
            width: 20%;
            top: 20vh;
            right: 0;
            z-index: 2000;
            margin: 0;
            float: right;
            z-index: 100;
        }

        aside img {
            border-end-start-radius: 2.5em;
            float: right;
            border: none;
            box-shadow: -.125em .125em .125em #222;
        }

        .section_content,
        #top {
            width: 80%;
        }


    }

    header h1,
    header p,
    #tabs {
        font-size: var(--FS_SMALL);
        row-gap: .3em;
    }


    main h1 {
        font-size: var(--FS_MEDIUM);
    }

    main h2 {
        text-align: start;
    }

    main li {
        font-size: var(--FS_SMALL);
    }

    ul#education li {
        height: auto;
    }

    ul#education li:last-child {
        padding-bottom: var(--SPACING_LARGE);
    }

    main li a img {
        width: 3em;
        height: 3em;
    }

    #project__content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: var(--SPACING_LARGE);
    }

    .project_box {
        min-width: 310px;
        width: 40%;
        float: left;
    }

    .project_box img {
        height: 50%;
    }

    .project_box h3 {
        top: 55%;
    }

    #social_media {
        justify-content: flex-start;
    }


    footer p {
        font-size: var(--FS_SMALL);
    }

}

@media only screen and (min-width: 576px) and (min-height: 550px) {
    aside {
        top: 15vh;
    }

    .project_box p {
        line-height: var(--SPACING-MEDIUM);
    }
}

@media only screen and (min-width: 768px) {

    header h1,
    header p {
        font-size: var(--FS_MEDIUM);
    }

    p.question {
        font-size: 1.2em;
    }

}

@media only screen and (min-width: 992px) {

    body,
    header,
    footer {
        max-width: 992px;
    }

}
